node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
project.xcworkspace
.DS_Store
android/build/
android/.gradle/
android/app/build/
android/app/build.gradle.local
local.properties
ios/build/
ios/Pods/
ios/Podfile.lock
*.xcworkspace
xcuserdata/
DerivedData/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.expo-shared/
web-build/
dist/
